body {
    display: flex;
    justify-content: center;
}

#top h1 {
    text-align: center;
    font-family: "Raleway";
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.option {
    text-decoration: underline;
    color: blue;
}

.option:hover {
    cursor: pointer;
}

#container {
    position: absolute;
    background: moccasin;
    padding: 0 0;
    box-sizing: border-box;
    top: 150px;
}

.column {
    vertical-align: top;
    width: 280px;
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-right: 15px;
}

.tile {
    background: white;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 13px;
}

.tile h3, p {
    margin: 10px 0 0 0;
}

.delete, .move {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
}

.delete {
    background: salmon;
}

.move {
    background: cornflowerblue;
}

.delete:hover, .move:hover {
    opacity: 0.8;
}

.delete:hover {
    cursor: pointer;
}

.move:hover {
    cursor: move;
}
