/* Get rid of random spaces that show up otherwise */
body {
    font-size: 0;
}

/* Styles option buttons at the top */
.color-choice, .text-option {
    width: 16px;
    height: 16px;
    border: 7.5px solid white;
    border-radius: 100%; /* Round */
    box-shadow: 0 0 0 1px rgb(68, 68, 68); /* Replaces outline */
    display: inline-block;
    margin: 0 3.5px !important;
    background: white; /* Default for text options */
}

/* Change shadow, opacity when hovering over buttons */
.color-choice:hover, .text-option:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 1px black;
    opacity: 0.9;
}

/* For divs that hold buttons at the top */
.options-list {
    margin: 10px 10px 0 14px;
    display: inline-block;
    vertical-align: top;
}

/* Contains input */
#container {
    z-index: -1; /* Behind buttons */
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center; /* Center input horizontally, vertically */
    align-items: center;
}

/* Styles non-color options */
#text-options .text-option {
    font-size: 17px;
    color: black;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(77, 77, 77);
}

/* Aligns text inside text options */
#text-options .text-option p {
    margin: -2.5px 0 0 0;
    user-select: none; /* Prevents text highlighting when clicking buttons */
}

/* Input for font selection */
#font-input {
    font-weight: normal;
    font-size: 17px;
    color: gray;
    background: none;
    position: absolute;
    width: 100%;
    left: 0; /* Align at bottom left */
    bottom: 10px;
    outline: none;
    border: none;
    padding: 0 25px;
    box-sizing: border-box;
}

/* Input where user types */
#word {
    top: 0;
    left: 0;
    background: none;
    width: 100%;
    text-align: center;
    font-size: 92px;
    font-weight: bold;
    outline: none !important;
    border: none !important;
}

/* Set default font */
#word, #font-input {
    font-family: "Source Sans Pro";
}

/* Hides 'X' in I.E. inputs */
input[type=text]::-ms-clear, input[type=text]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}
