body {
    background-color: black;
    text-align: center; /* Centers graph */
    padding: 0;
    margin: 10;
    overflow-x: hidden;
    overflow-y: hidden;
}

#canvas-container {
    display: inline-block;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    font-size: 0;
    outline: none;
}

#canvas {
    width: 400px;
    height: 400px;
}
